div.thymebg{
	background-color: #d9ffb3;
}

#addseed {
  border: 1px solid #ddd;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#seedthemetext{
background-color: #d9ffb3;
}
